 <p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  kkk
</p>

<p>
  <strong>Body:</strong>
  i
</p>

<a class="new" href="/books/new/edit">Edit</a> |
<a class="back" href="/books">Back</a>

